

$bridge-widget-anim-timing: 300ms;


.bridge-widget {
  background: var(--secondary-background) !important;
  padding: 0px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  transition: height $bridge-widget-anim-timing;

  .page {
    transition: left $bridge-widget-anim-timing ease-in-out,
      opacity $bridge-widget-anim-timing ease-in-out,
      transform $bridge-widget-anim-timing ease-in-out;
    min-height: 330px;
    background: var(--secondary-background) !important;
    position: relative;
    z-index: 10;
    top: 0;
    width: 100%;
    opacity: 1;
  }

  .page-inner {
    position: relative;
    padding: 27px 25px;
  }

  .page-stack {
    display: none;
  }

  .button.is-primary.is-fullwidth {
    font-size: 16px;
    height: 50px;
  }

  // TRANSITIONS

  .slidein-enter {
    display: block;
    left: 120%;
  }
  .slidein-enter-active {
    display: block;
    left: 0%;
    pointer-events: none;
  }
  .slidein-exit {
    display: block;
    left: 0%;
    position: absolute;
    height: 800px;
  }
  .slidein-exit-active {
    display: block;
    left: 120%;
    position: absolute;
    height: 800px;
    pointer-events: none;
  }
  .slidein-enter-done {
    display: block;
  }
  .slidein-exit-done {
    display: none;
  }

  .fade-enter {
    opacity: 0;
    transform: scale(0.75);
    pointer-events: none;
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: none;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    height: 800px;
    pointer-events: none;
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.75);
    pointer-events: none;
    height: 800px;
    position: absolute;
  }
  .fade-exit-done {
    display: none;
  }

  // special case for double-stacked cards (confirm)
  .fade-enter.slidein-exit {
    display: none;
  }

  // END OF TRANSITIONS

  .widget-title {
    color: var(--dropdown-text-color) !important;
    font-size: 18px;
  }

  .currency-text {
    font-family: monospace;
    color: $link;
    font-size: 22px;
    text-align: right;
    overflow: hidden;
  }


  .switcher {
    cursor: not-allowed;
    input {
      cursor: not-allowed;
    }
  }

  .page-view-order {

    .text-gray-stylized {

      font-size: 16px;
      margin-bottom: 6px;
    }

    .bridge-icon-wrapper {
      position: relative;
      margin: 17px 0 5px;
    }

    $bridge-icon-width: 42px;

    .network-dropdown {
      margin-right: 10px;
      margin-bottom: 0;

      .dropdown-content{
        background-color: var(--dropdown-bg) !important;
      }
      &.dropdown {
        display: block !important;

        &.compact {
          .button {
            padding: 5px 10px;
          }
        }

        .button {
          width: 100%;
          justify-content: flex-start;
          height: 55px;
          padding: 0 10px;
          background-color: var(--dropdown-color) !important;
          color: var(--primary-text-color) !important;

          &:hover {
            background-color: var(--dropdown-hover-color) !important;
          }
        }

        .level {
          width: 100%;
          margin-bottom: 0;
        }

        .dropdown-item {
          color: var(--dropdown-text-color) !important;
          padding: 0.375rem 1rem;
          &:hover{
            background: var(--dropdown-hover-color) !important;
          }
        }

        .disabled {
          opacity: 0.4;
        }

        .icon {
          color: var(--primary-text-color) !important;
        }
      }

      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .bridge-icon {
      position: absolute;
      left: 50%;
      width: $bridge-icon-width;
      margin-left: - ($bridge-icon-width / 2);
      z-index: 10;
      margin-top: - ($bridge-icon-width / 2);
      text-align: center;
      padding: 5px;
      background: white;
      border-radius: 40px;
      border: 1px solid #eee;
      cursor: pointer;

      i {
        color: $primary;
      }

      &:hover {
        transform: scale(1.15);
      }
    }

    .bridge-icon-v2 {
      color: var(--swap-icon);
      text-align: center;
      font-size: 20px;
      position: absolute;
      left: 50%;
      width: $bridge-icon-width;
      height: $bridge-icon-width;
      margin-left: - ($bridge-icon-width / 2);
      margin-top: - ($bridge-icon-width / 2);
      background: var(--secondary-background);
      border-radius: 40px;
      border: 1px solid var(--notification-border-color);
      z-index: 10;
      cursor: pointer;
    }

    .settings-icon {
      font-size: 24px;
      height: 34px;
      width: 34px;
      line-height: 34px;
      text-align: center;
    }

    .icon-down {
      color: var(--primary-text-color) !important;
      width: 16px;
      height: 16px;
    }

    .input {
      box-shadow: none;
      border-color: var(--input-border);
      font-size: 22px;
      line-height: 1rem;
      height: 55px;
      color: var(--primary-text-color);
      transition: transform 200ms;
      &.is-to {
        background-color: var(--primary-background);
        border-color: var(--primary-background);
      }

      &.is-from {
        padding-right: 60px;
      }

      &:hover, &:focus {
        transform: scale(1.05);
        box-shadow: 0 0px 10px 0 var(--input-box-shadow);
        border: 1px solid $link;
      }

      &.is-danger {
        color: $danger;
        border-color: $danger;
      }
    }

    .warning-funds {
      font-size: 12px;
      color: $danger;
      position: absolute;
      top: 57px;
      right: 8px;
      width: 200%;
      text-align: right;
    }

    .control{
      .input-wrapper {
        position: absolute;
        display: flex;
        top:0;
        right: 0;

        .max-btn {
          position: relative;
          top: 10px;
          right: 8px;
          height: 35px;
          line-height: 35px;
          background: var(--primary-background);
          border-radius: 10px;
          color: var(--btn-color);
          padding: 0 10px;
          font-size: 14px;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            background: var(--secondary-background);
          }

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    .notification {
      background: var(--secondary-background) !important;
      padding: 20px 0;
      border-radius: 0;

      .token-symbol-wrapper {
        width: 75px;
      }

      .level-item {
        flex-grow: 0;

        &:not(:last-child) {
          margin-right: 0.75em;
        }
      }

      &.border-top {
        border-top: 1px solid var(--notification-border-color);
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }

    input[disabled] {
      background: white;
    }

    .is-loading {
      input {
        color: $info-light;
      }

      &:after {
        left: calc(50% - (1em / 2));
        top: calc(50% - (1em / 2));
      }
    }

    .token-dropdown {
      height: 55px;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      padding: 0 10px;

      &:hover {
        background-color: var(--dropdown-hover-color) !important;
      }
    }
  }

  .custom-token-warning {
    width: 100%;
    padding: 1rem;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-width: 0px;
    background-color: #f2f7f9 !important;

    .warning-box {
      width: 100%;
      display: flex;
      padding: 0px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;

      .warning-icon {
        margin-right: 20px;
        width: 150px;
      }

      .warning-text-bold {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .warning-text {
        font-size: 14px;
      }
    }
  }

  .warning-funds-view {
    font-size: 14px;
    color: #f14668;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  //override bulma
  .level:not(:last-child),
  .level-item:not(:last-child) {
    margin-bottom: 0;
  }

  //override bulma
  .level-left + .level-right {
    margin-top: 0;
  }

  hr {
    margin: 1rem 0;
  }

  .page-view-settings {
    .level {
      margin-bottom: 0;
    }

    .option {
      margin-bottom: 10px;
    }

    .gas-price-control {
      display: flex;
      margin-top: 5px;
      gap: 20px;

      .disabled {
        opacity: 0.5;
      }
    }

    .slippage-control {
      margin-top: 5px;
      display: flex;

      .button {
        margin-right: 5px;
        padding-left: 1.2em;
        padding-right: 1.2em;
      }

      .disabled {
        opacity: 0.5;
      }

      .current {
      }

      .control {
        display: inline-flex;
      }
    }
  }

  .page-view-cross-process {
    .level-item.chain-icon {
      margin-right: -7px;
    }
  }

  .centered-view {
    text-align: center;
    margin: 70px 0;

    .icon {
      font-size: 65px;
      width: 75px;
      color: $primary;
    }

    &.failed {
      .title, .icon, .details {
        color: $danger;
      }
    }

    .title {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .details {
      font-size: 15px;
      color: #9db0be;
      margin-bottom: 5px;
    }

    .txHash {
      margin-top: 20px;
    }
  }

  .page-view-search {
    .token-search-bar {
      input {
        border-radius: 16px;
      }

      .token-top-list {
        > .text-gray-stylized {
          margin: 0 10px;
        }

        > .columns {
          margin: 0px;
          margin-right: 20px;
        }

        .top-item {
          border-radius: 16px;
          padding: 2px 10px;
          margin-bottom: 10px;

          &:hover {
            background: var(--dropdown-color);
          }

          .level-item {
            font-size: 1rem;
          }

          .level-item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 0.5rem;
          }
        }
      }

      .token-inline-list {
        position: relative;
        height: 325px;
        margin-top: 15px;

        .rcs-custom-scroll .rcs-inner-handle {
          background-color: #ddd;
          z-index: 20;
        }

        .rcs-custom-scroll .rcs-custom-scrollbar {
          z-index: 20;
        }
      }

      .token-inline-list-bottom {
        position: absolute;
        height: 30px;
        bottom: 0;
        width: 100%;
        box-shadow: inset 0px -8px 12px 6px var(--secondary-background);
        z-index: 15;
      }

      .dropdown-item {
        padding: 2px 10px;
        margin: 0;
        margin-bottom: 10px;
        margin-right: 14px;
        border-radius: 16px;
        width: auto;
        z-index: 10;

        &:last-child {
          z-index: 100;
        }

        &:hover {
          background: var(--dropdown-color);
        }

        .level-item {
          color: var(--primary-text-color) !important;
          font-size: 1rem;
        }
      }
    }
  }

  .available-routes-wrapper {
    display: flex;
    padding: 16px;
    min-height: 100px;
    border-radius: 8px;
    flex-direction: column;
    background-color: var(--primary-background);
  }

  .available-routes-expand-wrapper {
    transition: max-height 300ms;
    cursor: pointer;
    opacity: 0;
    padding: 0;
    margin-bottom: 20px;

    &.expand {
      opacity: 1;
    }

    .hint-text {
      margin-top: -20px;
      margin-bottom: 20px;
      padding: 0;
      font-size: 16px;
      color: #333;
      display: flex;

      span {
        line-height: 15px;
      }

      .hint-icon {
        width: 11px;
        height: 11px;
        display: flex;
        margin: 2px 4px;
        background: #9db0be;
      }
    }
  }

  .unavailable-warning-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-background);
    z-index: 10;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    .icon {
      width: 50px;
      height: 50px;
      font-size: 41px;
      color: #9db0be;
    }
  }

  .bridge-order-btn-wrapper{
    display: flex;
    justify-content: flex-end;

    .bridge-order-btn {
      width: auto;
    }

    @media screen and (max-width: 768px) {
      .bridge-order-btn {
        width: 100%;
      }
    }
  }

  .bridge-route-item-wrapper {
    height: 75px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: var(--secondary-background);
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    input {
      -webkit-appearance: auto;
      width: 32px;
      height: 32px;
      cursor: pointer;
      //visibility: hidden;
    }

    input[type="radio"] {
      display: none;
      &:not(:disabled) ~ label {
        cursor: pointer;
      }
    }

    label {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      border: none;
      padding: 0 16px 0 52px;
      border-radius: 12px;
      align-items: center;
      position: relative;
      border: 2px solid var(--primary-background);

      &:after {
        width: 18px;
        height: 18px;
        content: '';
        background-color: #fff;
        background-image: url('data:image/svg+xml;utf8, <svg width="8" height="8" viewBox="0 -1 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1 2.71427L3.18183 5L7 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input[type="radio"]:checked + label {
      border: 2px solid #6461FC;
      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #6461FC;
        border-color: #6461FC;
      }
    }

    .bridge-route-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      grid-template-columns: 20px 3.5fr repeat(3, 1fr);

      .additional-info {
        padding-left: 12px;
        margin-left: 5px;
        border-left: 0px solid var(--box-border);
        min-width: 130px;
        margin-left: auto;
        background: white;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0px;
        border-radius: 12px;
        padding-right: 10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        box-shadow: 0 0 24px 10px #ececec8f;

        .fee-wrapper {
          display: flex;
          justify-content: space-between;
        }

        .duration-wrapper {
          display: flex;
          justify-content: space-between;
        }

        .title {
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          margin: 0;
        }

        .value {
          font-size: 12px;
          line-height: 14px;
          margin-left: 10px;
        }
      }

      .dashed-divider {
        width: 10px;
        border: none;
        border-top: 2px dashed var(--box-border);
        height: 1px;
        margin: 0;
      }
    }

    .bridge-route-item-mobile {
      width: 100%;
      display: none;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      grid-template-columns: 20px 3.5fr repeat(3, 1fr);

      .divider {
        display: flex;
        margin: 0 8px;
        justify-content: center;
        height: 100%;
        align-items: center;

        .vertical-line {
          border-left: 2px solid var(--box-border);
          height: 100%;
        }

        .triangle-wrapper {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--secondary-background);
          padding: 8px;

          .triangle-right {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-left: 8px solid #58B57E;
            border-bottom: 4px solid transparent;
          }
        }
      }

      .additional-info {
        padding-left: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-left: 2px solid var(--box-border);
        min-width: 80px;
        margin-left: auto;

        .fee-wrapper {
          display: block;
        }

        .duration-wrapper {
          display: block;
        }

        .title {
          display: block;
          width: 100%;
          font-weight: bold;
          font-size: 10px;
          line-height: 14px;
          margin: 0;
        }

        .value {
          display: block;
          width: 100%;
          font-size: 10px;
          line-height: 14px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .label {
        padding: 6px 16px;
      }

      .bridge-route-item {
        display: none !important;
      }

      .bridge-route-item-mobile {
        display: flex;
      }
    }

    @media screen and (min-width: 768px) {
      .bridge-route-item-mobile {
        display: none;
      }

      .bridge-route-item {
        display: flex;
      }
    }
  }
}

$route-box-height: 61px;
$route-box-font-size: 11px;
$route-box-secondary-height: 20px;

.token-network-route-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
  height: $route-box-height;
  border: 1px solid var(--box-border);
  border-radius: 8px;

  .token-wrapper {
    display: flex;
    padding: 7px 4px;
    align-items: center;

    .symbol {
      font-size: $route-box-font-size;
      font-weight: bold;
      line-height: 14px;
    }

    .amount {
      font-size: $route-box-font-size;
      line-height: 11px;
    }
  }

  .network-name {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: $route-box-secondary-height;

    .text {
      font-size: $route-box-font-size;
      color: white;
    }
  }
}

.swap-bridge-route-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
  width: 62px;
  border-radius: 8px;
  background-color: var(--primary-background);

  .title-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 18px;
      height: 16px;
      // margin-right: 4px
      display: block;
      margin: 0 auto;
      margin-bottom: 4px;
    }

    .title {
      font-size: $route-box-font-size;
      font-weight: bold;
      line-height: 12px;
    }
  }

  .fee-wrapper {
    display: none;
    // border-bottom-left-radius: 8px;
    // border-bottom-right-radius: 8px;
    // display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // height: $route-box-secondary-height;

    .text {
      font-size: $route-box-font-size;
    }
  }
}
